#welcome {
	background: linear-gradient(#34ebb7, #11ad81, #1119ad);
	height: 800px;
	width: 100%;
	justify-content: space-around;
	z-index: 5;
}

body {
	text-align: center;
	font-family: 'Gemunu Libre', sans-serif;
}

#AAA {
	border-radius: 50%;
	width: 400px;
	height: 300px;
	padding-top: 75px;
	padding-bottom: 50px;
}

h1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
}

#name {
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
}

.line {
	background-color: black;
	height: 6px;
	width: 150px;
	margin: auto;
}

p {
	max-width: 700px;
	font-size: 25px;
	line-height: 1.3;
	margin: auto;
}

/*normal Menu*/
/*
.menu {
	list-style: none;
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 30px;
	background-color: floralwhite;
	padding-left: 0px;
}

.item {
	float: left;
	padding-left: 18px;
	padding-right: 18px;
	z-index: 10;
	border: solid black;
	
}
*/
/*menu as header*/
.menu {
	list-style: none;
	font-size: 25px;
	position: fixed;
	width: 100%;
	height: 4%;
	background-color: floralwhite;
	padding-left: 0px;
	margin-top: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.item {
	display: inline;
	padding-left: 38px;
	padding-right: 38px;
	z-index: 10;
	border: solid black;
	padding-bottom: 5px;
}

.item:hover {
	background-color: cornflowerblue;
}

html {
	scroll-behavior: smooth;
}

.contact h3 {
	display: inline;
}

.menu a {
	text-decoration: none;
}

#contact {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: dimgrey;
}
