#welcome {
	background: linear-gradient(#34ebb7, #11ad81, #1119ad);
	height: 800px;
	width: 100%;
	justify-content: space-around;
}

body {
	text-align: center;
}

#AAA {
	border-radius: 50%;
	width: 400px;
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
}

#name {
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
}

.line {
	background-color: black;
	height: 6px;
	width: 150px;
	margin: auto;
}

p {
	max-width: 700px;
	font-size: 25px;
	line-height: 1.3;
	margin: auto;
}
